<!DOCTYPE html>
<html>
<head>
  <title>Jodel Stats | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= yield(:description) == "" ? t(:main_description) : yield(:description) %>"/>
  <% if I18n.locale == :de %>
    <link rel="alternate" href="<%= alt_language_path %>" hreflang="en">
  <% end %>
  <% if I18n.locale == :en %>
    <link rel="alternate" href="<%= alt_language_path %>" hreflang="de">
  <% end %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "http://www.jodelstats.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://www.jodelstats.com/cities/{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse"  style="background-color: #<%=random_color%>">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Jodel Stats", '/' + locale_param, class: "navbar-brand" %>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">

        </div>
      </div>
    </header>
      <div class="container">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type == "error" ? "danger" : message_type %>"><%= message %></div>
        <% end %>
        <% provide(:title, t('main_title')) %>
        <div class="left">
        <h2>Jodel Stats is offline.</h2>
        <br>
        <div class="row">
          <div class="col-md-12">
            <p class="big-text">I'm very sorry to announce that Jodel Stats is <b>offline</b> as of January 1, 2017.</p>
            <p class="big-text"><a href="https://www.facebook.com/notes/patrick-petrovic/jodel-stats-shutting-down-heres-why/361625077550142">Read the official announcement.</a></p>
            <p class="big-text">If you'd like to keep in touch: <a href="http://twitter.com/ppati000">Twitter</a> |
            <a href="https://www.facebook.com/patrick.petrovic">Facebook</a>
            | <a href="mailto:ppati000@me.com">Mail</a></p>
            <br>
            <p class="big-text"><b>Thanks a lot for all of your support! ❤️</b></p>
          </div>
        </div>
        </div>
      </div>
</body>
</html>
